doctype html
html
  head
    title= title
    style
      include ../public/css/style.css
  body
    div(class='center-content')
      h1= message
      p(class="link") source code available <a href="https://github.com/Nabil5352/coin-daily-api" target="_blank">HERE</a>
